<h1> Datos para probar las técnicas de analísis. </h1>

<h2>Los pasos que intentare seguir para tener una metodología son: </h2>
<br>
<li>Paso cero: Extraccion de los datos, limpieza, reducción y eliminación en los casos que apliquen.</li>
<li>Paso uno: Estandarizar, normalizar y/o reducir los datos.</li>
<li>Paso dos: Codificar las variables categoricas.</li>
<li>Paso tres: Escojer el médelo de machine learning que nos ayude a resolver el problema</li>

In [40]:
#Import las primeras librerias que podriamos utilizar
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [41]:
df = pd.read_csv("PeopleTrain.csv")
print("\nTamaño de la matriz\n", df.shape)

Tamaño de la matriz
 (2197291, 15)

In [42]:
#Revisar los tipos de variables y determinar si son correctas o las modifcamos.
print("\nTipos de variables: \n ", df.info() )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2197291 entries, 0 to 2197290
Data columns (total 15 columns):
 #   Column             Dtype
---  ------             -----
 0   people_id          object
 1   activity_id        object
 2   date               object
 3   activity_category  object
 4   char_1             object
 5   char_2             object
 6   char_3             object
 7   char_4             object
 8   char_5             object
 9   char_6             object
 10  char_7             object
 11  char_8             object
 12  char_9             object
 13  char_10            object
 14  outcome            int64
dtypes: int64(1), object(14)
memory usage: 251.5+ MB

Tipos de variables:
  None

In [43]:
print("\nCantidad de datos faltantes en porcentaje \n", df.isnull().sum()/df.shape[0]*100)

Cantidad de datos faltantes en porcentaje
 people_id             0.000000
activity_id           0.000000
date                  0.000000
activity_category     0.000000
char_1               92.826849
char_2               92.826849
char_3               92.826849
char_4               92.826849
char_5               92.826849
char_6               92.826849
char_7               92.826849
char_8               92.826849
char_9               92.826849
char_10               7.173151
outcome               0.000000
dtype: float64

In [44]:
#Hay que hacer una lista con las columnas que se van a remover.
columnas_a_remover = ["char_"+str(x) for x in np.arange(1,10)]
print("\nLas columnas que se remueven:\n",columnas_a_remover)
#Eliminar las columnas
df = df.drop(columnas_a_remover, axis=1)
#Se renobran las columnas para evitar un conflicto al unirse con el otro dataframe.
df = df.rename(columns={"date":"activity_date","char_10":"activity_type"})
#Aquí interpolamos los datos que faltan en la columan char_10 con la moda.
df["activity_type"] = df["activity_type"].fillna(df["activity_type"].mode()[0])
#Miremos la forma de la matriz con los cambios
print("\nForma de la matriz:\n",df.shape)
df.head(2)

Las columnas que se remueven:
 ['char_1', 'char_2', 'char_3', 'char_4', 'char_5', 'char_6', 'char_7', 'char_8', 'char_9']

Forma de la matriz:
 (2197291, 6)

,people_id,activity_id,activity_date,activity_category,activity_type,outcome
0,ppl_100,act2_1734928,2023-08-26,type 4,type 76,0
1,ppl_100,act2_2434093,2022-09-27,type 2,type 1,0

In [45]:
df2 = pd.read_csv("People.csv")
print("\nTamaño de la matriz\n", df2.shape)

Tamaño de la matriz
 (189118, 41)

In [46]:
#Revisar los tipos de variables y determinar si son correctas o las modifcamos.
print("\nTipos de variables: \n ", df2.info() )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189118 entries, 0 to 189117
Data columns (total 41 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   people_id  189118 non-null  object
 1   char_1     189118 non-null  object
 2   group_1    189118 non-null  object
 3   char_2     189118 non-null  object
 4   date       189118 non-null  object
 5   char_3     189118 non-null  object
 6   char_4     189118 non-null  object
 7   char_5     189118 non-null  object
 8   char_6     189118 non-null  object
 9   char_7     189118 non-null  object
 10  char_8     189118 non-null  object
 11  char_9     189118 non-null  object
 12  char_10    189118 non-null  bool
 13  char_11    189118 non-null  bool
 14  char_12    189118 non-null  bool
 15  char_13    189118 non-null  bool
 16  char_14    189118 non-null  bool
 17  char_15    189118 non-null  bool
 18  char_16    189118 non-null  bool
 19  char_17    189118 non-null  bool
 20  char_18    189118 non-null  bool
 21  char_19    189118 non-null  bool
 22  char_20    189118 non-null  bool
 23  char_21    189118 non-null  bool
 24  char_22    189118 non-null  bool
 25  char_23    189118 non-null  bool
 26  char_24    189118 non-null  bool
 27  char_25    189118 non-null  bool
 28  char_26    189118 non-null  bool
 29  char_27    189118 non-null  bool
 30  char_28    189118 non-null  bool
 31  char_29    189118 non-null  bool
 32  char_30    189118 non-null  bool
 33  char_31    189118 non-null  bool
 34  char_32    189118 non-null  bool
 35  char_33    189118 non-null  bool
 36  char_34    189118 non-null  bool
 37  char_35    189118 non-null  bool
 38  char_36    189118 non-null  bool
 39  char_37    189118 non-null  bool
 40  char_38    189118 non-null  int64
dtypes: bool(28), int64(1), object(12)
memory usage: 23.8+ MB

Tipos de variables:
  None

In [47]:
print("\nCantidad de datos faltantes en porcentaje \n", df2.isnull().sum()/df2.shape[0]*100)

Cantidad de datos faltantes en porcentaje
 people_id    0.0
char_1       0.0
group_1      0.0
char_2       0.0
date         0.0
char_3       0.0
char_4       0.0
char_5       0.0
char_6       0.0
char_7       0.0
char_8       0.0
char_9       0.0
char_10      0.0
char_11      0.0
char_12      0.0
char_13      0.0
char_14      0.0
char_15      0.0
char_16      0.0
char_17      0.0
char_18      0.0
char_19      0.0
char_20      0.0
char_21      0.0
char_22      0.0
char_23      0.0
char_24      0.0
char_25      0.0
char_26      0.0
char_27      0.0
char_28      0.0
char_29      0.0
char_30      0.0
char_31      0.0
char_32      0.0
char_33      0.0
char_34      0.0
char_35      0.0
char_36      0.0
char_37      0.0
char_38      0.0
dtype: float64

In [48]:
#Vamos a fucionar ambas matrices.
df = df.merge(df2,on=["people_id"],how="inner")
print("\nForma de la matriz:\n", df.shape)

Forma de la matriz:
 (2197291, 46)

In [49]:
print("\nLos valores a predecir son :\n",df["outcome"].unique())
print("\nComo estan distribuidas las variables a predecir: \n", df["outcome"].value_counts()/df.shape[0] *100 )

Los valores a predecir son :
 [0 1]

Como estan distribuidas las variables a predecir:
 0    55.60456
1    44.39544
Name: outcome, dtype: float64

In [50]:
#Revisando los tipos de datos con los que trabajaremos
print("\nDistinct DataTypes:\n", df.dtypes.unique() )

Distinct DataTypes:
 [dtype('O') dtype('int64') dtype('bool')]

In [51]:
print("\nNombre de las columnas que se categorizan como 1/0:\n", df.select_dtypes("bool"))
#Convertir los valores
for col in df.select_dtypes("bool"):
    df[col] = np.where(df[col] == True,1,0)

Nombre de las columnas que se categorizan como 1/0:
          char_10  char_11  char_12  char_13  char_14  char_15  char_16  \
0           True    False    False     True     True    False     True
1           True    False    False     True     True    False     True
2           True    False    False     True     True    False     True
3           True    False    False     True     True    False     True
4           True    False    False     True     True    False     True
...          ...      ...      ...      ...      ...      ...      ...
2197286     True     True     True     True     True     True     True
2197287     True     True     True     True     True     True     True
2197288     True     True     True     True     True     True     True
2197289     True     True     True     True     True     True     True
2197290     True     True     True     True     True     True     True

         char_17  char_18  char_19  ...  char_28  char_29  char_30  char_31  \
0          False    False    False  ...     True    False     True     True
1          False    False    False  ...     True    False     True     True
2          False    False    False  ...     True    False     True     True
3          False    False    False  ...     True    False     True     True
4          False    False    False  ...     True    False     True     True
...          ...      ...      ...  ...      ...      ...      ...      ...
2197286     True     True     True  ...     True     True     True     True
2197287     True     True     True  ...     True     True     True     True
2197288     True     True     True  ...     True     True     True     True
2197289     True     True     True  ...     True     True     True     True
2197290     True     True     True  ...     True     True     True     True

         char_32  char_33  char_34  char_35  char_36  char_37
0          False    False     True     True     True    False
1          False    False     True     True     True    False
2          False    False     True     True     True    False
3          False    False     True     True     True    False
4          False    False     True     True     True    False
...          ...      ...      ...      ...      ...      ...
2197286     True    False     True     True     True     True
2197287     True    False     True     True     True     True
2197288     True    False     True     True     True     True
2197289     True    False     True     True     True     True
2197290     True    False     True     True     True     True

[2197291 rows x 28 columns]

In [52]:
#Revisemos los distintos valores que se deberan recodificar
for col in df.select_dtypes("object"):
    print(col + " column has :", str( len( df[col].unique())) + " distinct values" )

people_id column has : 151295 distinct values
activity_id column has : 2197291 distinct values
activity_date column has : 411 distinct values
activity_category column has : 7 distinct values
activity_type column has : 6515 distinct values
char_1 column has : 2 distinct values
group_1 column has : 29899 distinct values
char_2 column has : 3 distinct values
date column has : 1196 distinct values
char_3 column has : 43 distinct values
char_4 column has : 25 distinct values
char_5 column has : 9 distinct values
char_6 column has : 7 distinct values
char_7 column has : 25 distinct values
char_8 column has : 8 distinct values
char_9 column has : 9 distinct values

In [53]:
#Convertir la variable date de object a datetime. Separar esas fechas por categoria mes, dia, etc..
df["date"] = pd.to_datetime(df["date"])
df["Year"] = df["date"].dt.year
df["Month"] = df["date"].dt.month
df["Quarter"] = df["date"].dt.quarter
df["Week"] = df["date"].dt.week
df["WeekDay"] = df["date"].dt.weekday
df["Day"] = df["date"].dt.day

#Vamos a quitar la columna de fecha por que no nos ayud al momento de entrenar la red.
del(df["date"])
del(df["activity_date"])

C:\Users\WINDOW~1\AppData\Local\Temp/ipykernel_7728/4134797014.py:6: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df["Week"] = df["date"].dt.week

In [54]:
#Estas columnas se tienen que depurar para quedarnos con los datos numericos.
print(df[["people_id","activity_type","activity_id", "group_1"]].head())

df.people_id = df.people_id.apply(lambda x:x.split("_")[1])
df.people_id = pd.to_numeric(df.people_id)

df.activity_id = df.activity_id.apply(lambda x:x.split("_")[1])
df.activity_id = pd.to_numeric(df.activity_id)

df.group_1 = df.group_1.apply(lambda x:x.split(" ")[1])
df.group_1 = pd.to_numeric(df.group_1)

df.activity_type = df.activity_type.apply(lambda x:x.split(" ")[1])
df.activity_type = pd.to_numeric(df.activity_type)

print(df[["people_id","activity_type","activity_id", "group_1"]].head())

  people_id activity_type   activity_id      group_1
0   ppl_100       type 76  act2_1734928  group 17304
1   ppl_100        type 1  act2_2434093  group 17304
2   ppl_100        type 1  act2_3404049  group 17304
3   ppl_100        type 1  act2_3651215  group 17304
4   ppl_100        type 1  act2_4109017  group 17304
   people_id  activity_type  activity_id  group_1
0      100.0             76    1734928.0    17304
1      100.0              1    2434093.0    17304
2      100.0              1    3404049.0    17304
3      100.0              1    3651215.0    17304
4      100.0              1    4109017.0    17304

In [55]:
#Vamos a codificar las variables categoricas
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

for col in df.select_dtypes("object"):
    print('\n')
    print('Columns Name: %s' %col)
    print('************')
    df[col] = df[[col]].apply(encoder.fit_transform)
    for i in range(len(encoder.classes_)):
        print(encoder.classes_[i],':', i)

Columns Name: activity_category
************
type 1 : 0
type 2 : 1
type 3 : 2
type 4 : 3
type 5 : 4
type 6 : 5
type 7 : 6


Columns Name: char_1
************
type 1 : 0
type 2 : 1


Columns Name: char_2
************
type 1 : 0
type 2 : 1
type 3 : 2


Columns Name: char_3
************
type 1 : 0
type 10 : 1
type 11 : 2
type 12 : 3
type 13 : 4
type 14 : 5
type 15 : 6
type 16 : 7
type 17 : 8
type 18 : 9
type 19 : 10
type 2 : 11
type 20 : 12
type 21 : 13
type 22 : 14
type 23 : 15
type 24 : 16
type 25 : 17
type 26 : 18
type 27 : 19
type 28 : 20
type 29 : 21
type 3 : 22
type 30 : 23
type 31 : 24
type 32 : 25
type 33 : 26
type 34 : 27
type 35 : 28
type 36 : 29
type 37 : 30
type 38 : 31
type 39 : 32
type 4 : 33
type 40 : 34
type 41 : 35
type 42 : 36
type 44 : 37
type 5 : 38
type 6 : 39
type 7 : 40
type 8 : 41
type 9 : 42


Columns Name: char_4
************
type 1 : 0
type 10 : 1
type 11 : 2
type 12 : 3
type 13 : 4
type 14 : 5
type 15 : 6
type 16 : 7
type 17 : 8
type 18 : 9
type 19 : 10
type 2 : 11
type 20 : 12
type 21 : 13
type 22 : 14
type 23 : 15
type 24 : 16
type 25 : 17
type 3 : 18
type 4 : 19
type 5 : 20
type 6 : 21
type 7 : 22
type 8 : 23
type 9 : 24


Columns Name: char_5
************
type 1 : 0
type 2 : 1
type 3 : 2
type 4 : 3
type 5 : 4
type 6 : 5
type 7 : 6
type 8 : 7
type 9 : 8


Columns Name: char_6
************
type 1 : 0
type 2 : 1
type 3 : 2
type 4 : 3
type 5 : 4
type 6 : 5
type 7 : 6


Columns Name: char_7
************
type 1 : 0
type 10 : 1
type 11 : 2
type 12 : 3
type 13 : 4
type 14 : 5
type 15 : 6
type 16 : 7
type 17 : 8
type 18 : 9
type 19 : 10
type 2 : 11
type 20 : 12
type 21 : 13
type 22 : 14
type 23 : 15
type 24 : 16
type 25 : 17
type 3 : 18
type 4 : 19
type 5 : 20
type 6 : 21
type 7 : 22
type 8 : 23
type 9 : 24


Columns Name: char_8
************
type 1 : 0
type 2 : 1
type 3 : 2
type 4 : 3
type 5 : 4
type 6 : 5
type 7 : 6
type 8 : 7


Columns Name: char_9
************
type 1 : 0
type 2 : 1
type 3 : 2
type 4 : 3
type 5 : 4
type 6 : 5
type 7 : 6
type 8 : 7
type 9 : 8

In [57]:
for columna in df.select_dtypes("object"):
    print("\nLa variable y sus categorias:\n", df[columna].value_counts() )

In [59]:
print("\nLas columnas de la matriz\n")
df.columns

Las columnas de la matriz

Index(['people_id', 'activity_id', 'activity_category', 'activity_type',
       'outcome', 'char_1', 'group_1', 'char_2', 'char_3', 'char_4', 'char_5',
       'char_6', 'char_7', 'char_8', 'char_9', 'char_10', 'char_11', 'char_12',
       'char_13', 'char_14', 'char_15', 'char_16', 'char_17', 'char_18',
       'char_19', 'char_20', 'char_21', 'char_22', 'char_23', 'char_24',
       'char_25', 'char_26', 'char_27', 'char_28', 'char_29', 'char_30',
       'char_31', 'char_32', 'char_33', 'char_34', 'char_35', 'char_36',
       'char_37', 'char_38', 'Year', 'Month', 'Quarter', 'Week', 'WeekDay',
       'Day'],
      dtype='object')

In [61]:
#Separamos la matriz en variables para entrenas y el vecotor a predecir
X = df.loc[:, ['people_id', 'activity_id', 'activity_category', 'activity_type',
       'char_1', 'group_1', 'char_2', 'char_3', 'char_4', 'char_5',
       'char_6', 'char_7', 'char_8', 'char_9', 'char_10', 'char_11', 'char_12',
       'char_13', 'char_14', 'char_15', 'char_16', 'char_17', 'char_18',
       'char_19', 'char_20', 'char_21', 'char_22', 'char_23', 'char_24',
       'char_25', 'char_26', 'char_27', 'char_28', 'char_29', 'char_30',
       'char_31', 'char_32', 'char_33', 'char_34', 'char_35', 'char_36',
       'char_37', 'char_38', 'Year', 'Month', 'Quarter', 'Week', 'WeekDay','Day']] 
y = df.loc[:, ["outcome"]]
print("\nPero se van separar en una matriz x y un vector y\n") 
print("\nTamaño de la matriz sin la columna date\n",  X.shape )
print("\nEstas con las columnas de X\n", X.columns)
print("\nTamaño del vector a predecir\n",  y.shape )
print("\nEstas con las columnas de y\n", y.columns)

Pero se van separar en una matriz x y un vector y


Tamaño de la matriz sin la columna date
 (2197291, 49)

Estas con las columnas de X
 Index(['people_id', 'activity_id', 'activity_category', 'activity_type',
       'char_1', 'group_1', 'char_2', 'char_3', 'char_4', 'char_5', 'char_6',
       'char_7', 'char_8', 'char_9', 'char_10', 'char_11', 'char_12',
       'char_13', 'char_14', 'char_15', 'char_16', 'char_17', 'char_18',
       'char_19', 'char_20', 'char_21', 'char_22', 'char_23', 'char_24',
       'char_25', 'char_26', 'char_27', 'char_28', 'char_29', 'char_30',
       'char_31', 'char_32', 'char_33', 'char_34', 'char_35', 'char_36',
       'char_37', 'char_38', 'Year', 'Month', 'Quarter', 'Week', 'WeekDay',
       'Day'],
      dtype='object')

Tamaño del vector a predecir
 (2197291, 1)

Estas con las columnas de y
 Index(['outcome'], dtype='object')

In [62]:
#Dividamso los datos para su entremiento, validación y prueba.
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=2018)
x_train, x_val, y_train, y_val = train_test_split(x_train, y_train, test_size=0.1, random_state=2018)
print("x_train:",x_train.shape)
print("x_test:",x_test.shape)
print("x_val:",x_val.shape)
print("y_train:",y_train.shape)
print("y_test:",y_test.shape)
print("y_val:",y_val.shape)

x_train: (1582048, 49)
x_test: (439459, 49)
x_val: (175784, 49)
y_train: (1582048, 1)
y_test: (439459, 1)
y_val: (175784, 1)

In [63]:
#Ahora si vamos a entrenar la matriz X.
from keras.models import Sequential
from keras.layers import Dense

model = Sequential()
model.add(Dense(256,input_dim=x_train.shape[1],activation="relu"))
model.add(Dense(256,activation="relu"))
model.add(Dense(1,activation="sigmoid")) 
model.compile(optimizer="Adam",loss="binary_crossentropy", metrics=["accuracy"])
model.fit(x_train,y_train,validation_data=(x_val,y_val), epochs=3, batch_size=64)

Epoch 1/3
24720/24720 [==============================] - 44s 2ms/step - loss: 381.1504 - accuracy: 0.6571 - val_loss: 1.1703 - val_accuracy: 0.6225
Epoch 2/3
24720/24720 [==============================] - 41s 2ms/step - loss: 0.6515 - accuracy: 0.6154 - val_loss: 0.6872 - val_accuracy: 0.5545
Epoch 3/3
24720/24720 [==============================] - 42s 2ms/step - loss: 0.6870 - accuracy: 0.5562 - val_loss: 0.6872 - val_accuracy: 0.5545

In [64]:
model = Sequential()
model.add(Dense(256,input_dim = x_train.shape[1],activation="relu"))
model.add(Dense(256,activation="relu"))
model.add(Dense(1,activation="sigmoid"))
model.compile(optimizer="Adam",loss="binary_crossentropy", metrics=["accuracy"])
model.fit(x_train,y_train,validation_data=(x_val,y_val),epochs=2, batch_size=64)

Epoch 1/2
24720/24720 [==============================] - 42s 2ms/step - loss: 494.9026 - accuracy: 0.6351 - val_loss: 0.6522 - val_accuracy: 0.6146
Epoch 2/2
24720/24720 [==============================] - 41s 2ms/step - loss: 0.6841 - accuracy: 0.5624 - val_loss: 0.6872 - val_accuracy: 0.5545

In [65]:
model = Sequential()
model.add(Dense(512,input_dim=x_train.shape[1],activation="relu"))
model.add(Dense(1,activation="sigmoid"))
model.compile(optimizer="Adam",loss="binary_crossentropy", metrics=["accuracy"])
model.fit(x_train,y_train,validation_data=(x_val,y_val),epochs=2, batch_size=64)

Epoch 1/2
24720/24720 [==============================] - 30s 1ms/step - loss: 940.8928 - accuracy: 0.6781 - val_loss: 133.7059 - val_accuracy: 0.8245
Epoch 2/2
24720/24720 [==============================] - 28s 1ms/step - loss: 199.4964 - accuracy: 0.7361 - val_loss: 31.4522 - val_accuracy: 0.8045

In [66]:
model = Sequential()
model.add(Dense(512,input_dim=x_train.shape[1],activation="relu"))
model.add(Dense(512,activation="relu"))
model.add(Dense(1,activation = "sigmoid"))
model.compile(optimizer="Adam",loss="binary_crossentropy",metrics=["accuracy"])
model.fit(x_train,y_train,validation_data=(x_val,y_val),epochs=2, batch_size=64)

Epoch 1/2
24720/24720 [==============================] - 125s 5ms/step - loss: 322.7917 - accuracy: 0.6012 - val_loss: 0.6872 - val_accuracy: 0.5545
Epoch 2/2
24720/24720 [==============================] - 125s 5ms/step - loss: 0.7052 - accuracy: 0.5562 - val_loss: 0.6872 - val_accuracy: 0.5545

<h2>Hay que intentar normalizar, estandarizar o centrar los datos para mirar sihay diferentes resultados.</h2>

In [67]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(x_train)
x_train_scaled = scaler.transform(x_train)
x_val_scaled = scaler.transform(x_val)
x_test_scaled = scaler.transform(x_test)

In [68]:
model = Sequential()
model.add(Dense(512,input_dim=x_train_scaled.shape[1],activation="relu"))
model.add(Dense(1,activation="sigmoid"))
model.compile(optimizer="Adam",loss="binary_crossentropy",metrics=["accuracy"])
model.fit(x_train_scaled,y_train,validation_data=(x_val_scaled,y_val), epochs=2, batch_size=64)
result = model.evaluate(x_test_scaled,y_test)

for i in range(len(model.metrics_names)):
    print("Metric ",model.metrics_names[i],":", str(round(result[i],2)))

Epoch 1/2
24720/24720 [==============================] - 30s 1ms/step - loss: 0.2784 - accuracy: 0.8673 - val_loss: 0.2412 - val_accuracy: 0.8914
Epoch 2/2
24720/24720 [==============================] - 28s 1ms/step - loss: 0.2268 - accuracy: 0.8980 - val_loss: 0.2202 - val_accuracy: 0.9020
13734/13734 [==============================] - 10s 698us/step - loss: 0.2188 - accuracy: 0.9024
Metric  loss : 0.22
Metric  accuracy : 0.9

In [69]:
model = Sequential()
model.add(Dense(512,input_dim = x_train_scaled.shape[1],activation="relu"))
model.add(Dense(512,activation="relu"))
model.add(Dense(1,activation="sigmoid"))
model.compile(optimizer="Adam",loss="binary_crossentropy",metrics=["accuracy"])
model.fit(x_train_scaled,y_train,validation_data=(x_val_scaled,y_val),epochs=2, batch_size=64)

Epoch 1/2
24720/24720 [==============================] - 124s 5ms/step - loss: 0.2287 - accuracy: 0.8950 - val_loss: 0.1799 - val_accuracy: 0.9224
Epoch 2/2
24720/24720 [==============================] - 118s 5ms/step - loss: 0.1588 - accuracy: 0.9330 - val_loss: 0.1450 - val_accuracy: 0.9396

In [70]:
model = Sequential()
model.add(Dense(1024,input_dim=x_train_scaled.shape[1],activation="relu"))
model.add(Dense(1024,activation = "relu"))
model.add(Dense(1,activation = "sigmoid"))
model.compile(optimizer = "Adam",loss="binary_crossentropy",metrics=["accuracy"])
model.fit(x_train_scaled,y_train, validation_data=(x_val_scaled,y_val),epochs=2, batch_size=64)

Epoch 1/2
24720/24720 [==============================] - 358s 14ms/step - loss: 0.2285 - accuracy: 0.8948 - val_loss: 0.1749 - val_accuracy: 0.9235
Epoch 2/2
24720/24720 [==============================] - 373s 15ms/step - loss: 0.1563 - accuracy: 0.9335 - val_loss: 0.1449 - val_accuracy: 0.9394

In [71]:
model = Sequential()
model.add(Dense(512,input_dim=x_train_scaled.shape[1],activation="relu"))
model.add(Dense(512,activation="relu"))
model.add(Dense(1,activation="sigmoid"))
model.compile(optimizer="Adam",loss="binary_crossentropy",metrics=["accuracy"])
model.fit(x_train_scaled,y_train,validation_data=(x_val_scaled,y_val),epochs=5, batch_size=64)

result = model.evaluate(x_test_scaled,y_test)
for i in range(len(model.metrics_names)):
    print("Metric ",model.metrics_names[i],":", str(round(result[i],2)))

Epoch 1/5
24720/24720 [==============================] - 128s 5ms/step - loss: 0.2294 - accuracy: 0.8947 - val_loss: 0.1775 - val_accuracy: 0.9239
Epoch 2/5
24720/24720 [==============================] - 129s 5ms/step - loss: 0.1589 - accuracy: 0.9327 - val_loss: 0.1489 - val_accuracy: 0.9383
Epoch 3/5
24720/24720 [==============================] - 129s 5ms/step - loss: 0.1343 - accuracy: 0.9447 - val_loss: 0.1297 - val_accuracy: 0.9478
Epoch 4/5
24720/24720 [==============================] - 130s 5ms/step - loss: 0.1205 - accuracy: 0.9510 - val_loss: 0.1223 - val_accuracy: 0.9510
Epoch 5/5
24720/24720 [==============================] - 130s 5ms/step - loss: 0.1111 - accuracy: 0.9551 - val_loss: 0.1145 - val_accuracy: 0.9544
13734/13734 [==============================] - 23s 2ms/step - loss: 0.1139 - accuracy: 0.9547
Metric  loss : 0.11
Metric  accuracy : 0.95

In [72]:
plt.plot(model.history.history['loss'])
plt.plot(model.history.history['val_loss'])
plt.title("Model's Training & Validation loss across epochs")
plt.ylabel('Loss')
plt.xlabel('Epochs')
plt.legend(['Train', 'Validation'], loc='upper right')
plt.show()

KeyError: 'loss'

In [73]:
plt.plot(model.history.history['acc'])
plt.plot(model.history.history['val_acc'])
plt.title("Model's Training & Validation Accuracy across epochs")
plt.ylabel('Accuracy')
plt.xlabel('Epochs')
plt.legend(['Train', 'Validation'], loc='upper right')
plt.show()

KeyError: 'acc'

In [1]:
df.to_csv("LogRegKeras.csv")

NameError: name 'df' is not defined